/* default settings */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* some utils */
.centre{
  display: grid;
  place-items: center;
}

:root{
  --black : #000000;
  --light-black : #36454F;
  --complimentary : #E0B0FF;
}
